{% extends 'base.html.twig' %}

{% block title %}Login - Wanwan Boutique{% endblock %}

{% block content %}
<div class="block-small">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="your email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="your password" equired>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    
     <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
        Sign in
    </button>
    <hr>
            {# <p class="text-center"><a href="{{ path('reset_password') }}">forgot your password</a> ?</p> #}
            <p class="text-center">Or would you like to <a href="{{ path('register') }}">create an account</a> ?</p>
</form>
</div>
{% endblock %}
